.socialbar{
	width:20%;
	height:100%;
	position: fixed;
	background-color: blue;
	color: aqua;
	border: 1px solid red;
}
a{
	color:aqua;
}
a:visited{
	text-decoration: none;
}
.socialcontent_fb{
	width:40%;
	float:left;
	position: relative;
	left: 21%;
	top: 10%;
}
.socialcontent_tw{
	width:40%;
	float:right;
	position: relative;
	left: 1%;
	top: 10%;
}